<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>DayNight API</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">

    <link href="style.css" rel="stylesheet"/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
    </style>
    <script src='main.js'></script>
</head>
<body>
    <div class="App">
        <section class="header">
            <h1> DAY <br/> NIGHT <br/> API </h1>
        </section>

        
        <form method='GET' action="/runUserImage">
            <section class="centerpanel">
                <section class="userpanel">
                    <h2 class="label" >Find a sky image <br/>& Insert the URL</h2>
                    <div class="input">
                        <input class="ImageUrlInput" type="text" id="ImageUrl" name="ImageUrl"/>
                        <button class="ButtonRun" type="submit" id="RunButton">Run</button>
                    </div>
                    <a href="https://github.com/Tariq-Axel/Day-Night_Guesser/tree/master#readme" target="_blank" rel="noreferrer" class="ButtonHowTo">How-To API</a>
                </section>
                <section class="resultpanel">
                    <img class="image" src="<%= ImageUrl %>"/>
                    <div class="text"><%= result %> / <%= percentage %></div>
                </section>
            </section>
        </form>

        <section class="Disclaimer">
            <div class="textsubpanel">
                Disclaimer : API made for fun for my portfolio, the Training Data is not complete, therefore do not use for serious projects.
            </div>
        </section>
        <section class="footer">
            <div class="DesignedBy">Designed by Tariq Axel</div>
            <div class="links">
                <a href="https://github.com/Tariq-Axel/Day-Night_Guesser" target="_blank" rel="noreferrer">source code</a>
                <a href="https://tariqaxel.com" target="_blank" rel="noreferrer">portfolio</a>
                <a class="mail" href="mailto:tariqaxel@gmail.com">contact</a>
            </div>
        </section>
    </div>
</body>
</html>