<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>DayNight API</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="style.css" rel="stylesheet"/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
    </style>
    <script src='main.js'></script>
</head>
<body>
    <div class="App">
        <section class="header">
            <h1> DAY <br/> NIGHT <br/> API </h1>
        </section>

        
        <form method='GET' action="/runUserImage">
            <section class="centerpanel">
                <section class="userpanel">
                    <h2 class="label" >Find a sky image <br/>& Insert the URL</h2>
                    <div class="input">
                        <input class="ImageUrlInput" type="text" id="ImageUrl" name="ImageUrl"/>
                        <button class="ButtonRun" type="submit" id="RunButton">Run</button>
                    </div>
                    <a href="#"><button class="ButtonHowTo">How-To API</button></a>
                </section>
                <section class="resultpanel">
                    <img class="image" src="<%= ImageUrl %>"/>
                    <div class="text"><%= result %><br/><%= percentage %></div>
                </section>
            </section>
        </form>

        <section class="Disclaimer">Disclaimer : API made for fun for my portfolio, the Training Data is not complete, <br />therefore do not use for serious projects.</section>
        <section class="footer">
            <div class="DesignedBy">Designed by Tariq Axel</div>
            <div class="links">
                <a href="#">source code</a>
                <a href="#">portfolio</a>
                <a href="#">contact</a>
            </div>
        </section>
    </div>
</body>
</html>