*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;
}
html, body{
    height: 100%; width: 100%;
    margin:0; padding: 0;
}

.App{
    height: 100%;
    min-height: 650px;
    width: 100%;
    padding: 1em 3em 1em; 
    background-image: url(./Images/dominik-schroder-FIKD9t5_5zQ-unsplash.jpg);
    background-size:cover;
    background-position: bottom;
    box-shadow: inset 0px 4px 25px 500px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template: 15% 65% 15% 5% / 100%;
}

/* *************************** HEADER *********************************** */
.header{
    /* position: absolute; */
    grid-area : 1/1/2/2;
    font-style: normal;
    text-align: center;
    font-weight: 900;
    font-size: 0.6em;
    line-height: 45em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header>h1{
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent; 
    -webkit-text-fill-color: transparent; 
    background-image: url(./Images/checker.png);
    background-size:contain;
    background-position-x:2.38em;
}
/* *************************** CENTER *********************************** */
.centerpanel{
    grid-area : 2/1/3/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.userpanel{width : 65%;}
.userpanel > .label{
    color: white;
    font-style: normal;
    font-weight: 900;
    font-size: 4.5em;
    line-height: 1.4em;
    margin-bottom: 0.2em;
}
.userpanel > .input{height: 2.3em; width: 100%; margin-bottom : 40px;}
.userpanel > .input > .ImageUrlInput{
    height: 100%; width: 70%; max-width: 450px; border-radius: 5px; border:none; margin-right: 0.5em;
}
.userpanel > .input > .ButtonRun{
    height: 100%; width: 10%; min-width: 50px; max-width: 70px; border-radius: 10px;  border: none; background: white; color: #53525C;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8em;
}
.userpanel > .ButtonHowTo{
    
    border-radius: 20px; border: 12px solid black;
    padding-left: 20px; padding-right: 20px;
    background: black; color: white; text-decoration: none;
    font-style: normal;
    font-weight: 900;
    font-size: 1em;
}


.resultpanel{position: relative; width: 34%; display:flex; flex-direction:column; justify-content: center; align-items: flex-end;}
.resultpanel > .image{ 
    height: 170px; width: 200px;
    border-radius: 10px;
}
.resultpanel > .text{position: absolute; bottom: -50px;width: 200px; color: white;font-weight: 900; text-align: center; font-size: 1.5em; line-height: 2em; margin-top: 0.5em;}
/* *************************** DISCLAIMER *********************************** */
.Disclaimer{
    grid-area : 3/1/4/2;
    display: flex; justify-content: center; align-items: center;
}
.Disclaimer > .textsubpanel {
    width: 50%;
    color:white;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 0.8em;
}
/* *************************** FOOTER *********************************** */
.footer{
    grid-area : 4/1/5/2;
    display:flex; justify-content: space-between;
    align-items: center;
}
.footer > .DesignedBy{
    font-style: normal;
    font-size: 0.7em;
}
.footer > .links {display:flex; justify-content: center; align-items: center;}
.footer > .links > a{
    text-decoration: none;
    
    margin-left: 1em;

    font-style: normal;
    font-weight: 900;
    font-size: 0.8em;

    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent; 
    -webkit-text-fill-color: transparent; 
    background-image: url(./Images/checker.png);
    background-size:cover;
    background-position: bottom;
}
@media only screen and (min-width: 950px) {
    .footer > .links > .mail:hover::after {content : " :: tariqaxel@gmail.com";}
}


@media only screen and (max-width: 1150px) {
    .userpanel > .label{font-size: 3.5em;}
}
@media only screen and (max-width: 950px) {
    .userpanel > .label{font-size: 2.7em;}
    .Disclaimer>.textsubpanel{width: 100%;} 
}

/* Mobile */
@media only screen and (max-width: 750px) {
    .App{grid-template: 10% 70% 15% 5% / 100%;}
    .header{font-size: 0.3em;}
    .centerpanel{flex-direction: column; justify-content: space-around; height: 100%;}
    .resultpanel{width : 100%;align-items: center;}
    .resultpanel > .image{ height: 110px; width: 130px;}
    .resultpanel > .text{ font-size:1em; bottom: -30px;}
    .userpanel{width : 100%;}
    .userpanel > .label{font-size: 2.7em;}
    .userpanel > .input > .ImageUrlInput{width: 80%;}
    .Disclaimer>.textsubpanel{width: 100%;} 
    .Disclaimer>.textsubpanel{ font-size: 0.5em; }
    .footer{font-size: 0.4em;}
}
@media only screen and (max-width: 600px) {
    
    .userpanel > .label{font-size:2.4em;}
}