*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html, body{
    height: 100%; width: 100%;
    margin:0; padding: 0;
}

.App{
    height: 100%;
    width: 100%;
    background-image: url(dominik-schroder-FIKD9t5_5zQ-unsplash.jpg);
    background-size:cover;
    background-position: bottom;
    box-shadow: inset 0px 4px 25px 500px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template: 25% 55% 10% 10% / 100%;
}

/* *************************** HEADER *********************************** */
.header{
    grid-area : 1/1/2/2;
    font-style: normal;
    text-align: right;
    font-weight: 900;
    font-size: 2.2em;
    line-height: 1.7em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0.5em;
}
.header>h1{
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent; 
    -webkit-text-fill-color: transparent; 
    background-image: url(checker.png);
    background-size:contain;
    background-position: bottom;
}
/* *************************** CENTER *********************************** */
.centerpanel{
    grid-area : 2/1/3/2;
}
/* *************************** DISCLAIMER *********************************** */
.Disclaimer{
    grid-area : 3/1/4/2;
    background: red;
}
/* *************************** FOOTER *********************************** */
.footer{
    grid-area : 4/1/5/2;
    background: green;
}